.decks-box {
    display: flex;
    flex-wrap: wrap;
}

.deck-info {
    background-color: peachpuff;
    width: 18%;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.deck-info-title {
    text-align: center;
    margin: 5px;
}

.deck-info-description {
    text-align: center;
    margin: 5px;
}
